@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

* {
    background-color: black;
}

#navBarButton:hover{
    background-color: #e5e7eb;
    color: black;
}
